h1 {
    margin-top: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    text-decoration: none;
}

.header-container {
    height: 300px;
    border: 10px solid black;
}

.socialMedia-container {
    width: 100%;
    height: 100px;
    display: inline-flex;
    justify-content: space-between;
}

.creativeTeam {
    margin-left: 50px;
}

.socialMedia {
    margin-right: 50px;
}

.aboutPage-container {
    height: 200px;
}

.aboutPage {
    width: 50%;
    height: 150px;
    margin-left: 50px;
}

.main-container {
    height: auto;
    background-color: #FFFFFF;
    border: 10px solid black;
}

.productDescription-container {
    height: 200px;
}

.productDescription-container p,
.productDescription-container h1 {
    text-align: center;
    padding: 20px 330px 0 330px;
}

.featuresList-container {
    height: 200px;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 100px 0 100px;
    text-align: center;
}

.ourTeam-container {
    height: auto;
}

.ourTeam-container h1 {
    text-align: center;
    padding: 20px 330px 0 330px;
}

.personsList {
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 100px 0 100px;
    text-align: center;
}

.featuresList-container div {
    padding: 20px;
}

.contactForm-container {
    height: auto;
}

.contactForm-container h1 {
    text-align: center;
    padding: 20px 330px 0 330px;
}

.contactForm-container p {
    text-align: center;
    padding: 20px 330px 0 330px;
}

.contactForm {
    display: block;
    text-align: center;
    width: 753px;
    height: auto;
    margin: 0 auto;
}

.nameEmail-container {
    display: flex;
    justify-content: space-between;
}

.yourName,
.yourEmail {
    width: 361px;
    height: 38px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
}

.yourMessage {
    width: 751px;
    height: 92px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
    margin-top: 38px;
    padding-top: 12px;
    resize: none;
}

input,
textarea {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.registerBtn {
    background-color: #aa1caf;
    color: white;
    padding: 16px 20px;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    width: 148px;
    height: 41px;
    opacity: 0.9;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.footer-container {
    height: 100px;
    border: 10px solid black;
}

.navigationBar-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    height: 100px;
    background-color: #fdbdff;
}
