* {
    box-sizing: border-box;
}

ul li {
    display: inline-block;
    text-decoration: none;
}

li img {
    vertical-align: middle;
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-container {
    width: 100%;
    height: 726px;
    background-image: url("../images/cityView.png");
    background-size: cover;
}

.socialMedia-container {
    width: 100%;
    padding-top: 37px;
    display: inline-flex;
    justify-content: space-between;
}

.socialList {
    margin: 0;
}

.socialList li {
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.creativeTeam {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 150px;
}

.creativeTeam p {
    margin: 0;
}

.socialMedia {
    margin-right: 162px;
}

.socialList li {
    margin-left: 25px;
    /*height: 25px;*/
}

.socialList img {
    height: 20px;
}

.aboutPage-container {
    width: 549px;
    height: 304px;
    margin: 146px 0 215px 134px;
}

.titleAbout {
    width: 530px;
    height: 125px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 62px;
    color: #FFFFFF;
}

.textAbout {
    width: 549px;
    height: 72px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 11px;
}

.textAbout p {
    margin: 0;
}

button {
    width: 179px;
    height: 54px;
    margin-top: 42px;
    background: #F44336;
    box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
    border-radius: 3px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.buttonAbout img {
    vertical-align: middle;
}

.main-container {
    width: 97%;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 6px;
    transform: translateY(-42px);
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14),
                0px 8px 10px rgba(0, 0, 0, 0.2);
}

.productDescription-container {
    height: auto;
}

.productDescription-container h1 {
    width: 277px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 95px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #3C4858;
}

.productDescription-container p {
    width: 723px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    padding-top: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    color: #999999;

}

.featuresList-container {
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    padding: 161px 123px 0 123px;
    text-align: center;
}

.featuresList-container h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #3C4858;
}

.featuresList-container div {
    margin: 0 31px 0 31px;
}

.featuresList-container p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #999999;
}

.ourTeam-container {
    height: auto;
}

/*.ourTeam-container div {*/
/*    margin: 0 20px 0 20px;*/
/*}*/

.ourTeam-container h1 {
    text-align: center;
    padding: 0 330px 0 330px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #3C4858;
    margin: 208px 0 86px 0;
}

.ourTeam-container h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 21px;
    color: #3C4858;
    margin: 0;
}

.ourTeam-container h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #777777;
    margin: 7px 0 0 0;
}

.ourTeam-container p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #999999;
    margin: 35px 25px 0 25px;
}

.links {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #9C27B0;
}

.personsList {
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 110px 0 110px;
    text-align: center;
}

.personsIcons {
    margin: 27px 0 0 0;
    padding: 0;
}

.personsIcons a {
    margin: 0 14px 0 14px;
}

.contactForm-container {
    height: auto;
}

.contactForm-container h1 {
    text-align: center;
    padding-top: 182px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #3C4858;
}

.contactForm-container p {

    text-align: center;
    margin: 38px 360px 0 360px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #999999;
}

.contactForm {
    display: block;
    text-align: center;
    width: 753px;
    height: auto;
    margin: 38px auto 0 auto;
}

.nameEmail-container {
    display: flex;
    justify-content: space-between;
}

.yourName,
.yourEmail {
    width: 361px;
    height: 38px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999999;
}

.yourMessage {
    width: 751px;
    height: 92px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999999;
    margin-top: 38px;
    padding-top: 12px;
    resize: none;
}

input,
textarea {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.contactForm button {
    margin: 25px 0 112px 0;
}

.registerBtn {
    background-color: #aa1caf;
    color: white;
    padding: 16px 20px;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    width: 148px;
    height: 41px;
    opacity: 0.9;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.footer-container {
    margin: 0 153px 32px 149px;
}

.footerNavBar ul {
    margin: 0;
}

.footerNavBar li {
    margin: 0 16px;
}

.footerNavBar a{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #333333;
}

.navigationBar-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    height: auto;
}

.copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.copyright p{
    margin: 0;
}

    @media only screen and (max-width: 767px) {
        body {
            background-color: red;
        }
    }

    /*@media only screen and (min-width: 768px) and (max-width: 1024px) {*/
    /*    body {*/
    /*        background-color: yellow;*/
    /*    }*/
    /*}*/

/*@media only screen and (min-width: 1024px) {*/
/*    body {*/
/*        background-color: green;*/
/*    }*/
/*}*/
